.twt_handle {
  width: 100%;
  /* background-color: #487897; */
  display: flex;
  justify-content: center;
}
.left {
  width: 20%;
  /* background-color: aqua; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.profile_logo {
  width: 50px;
  height: 50px;
  background-image: linear-gradient(to bottom right, #c084fc, #f472b6, #facc15);
  border-radius: 50%;
}
.right {
  width: 80%;
  height: 100%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.right-top {
  height: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.twt_user_handle {
  display: flex;
}
.twt_user_follow {
  background-color: rgb(0, 174, 255);
  color: white;
  font-weight: 600;
  border-radius: 12px;
  padding: 3px 9px;
}
.user_name {
  font-weight: 600;
}
.user_name_handle {
  font-size: 16px;
}
.right-bottom {
  margin-top: 4px;
  height: 70%;
}
